body{
    margin:0;
    padding:0;
    background:#fff;
    font-size:12px;
    overflow:auto
}
#mainDiv{
    width:80%;
    height:80%
}
#loveHeart{
    float:left;
    width:670px;
}
#garden{
    width:100%;
    height:100%
}
#elapseClock{
    text-align:right;
    font-size:18px;
    margin-bottom:10px
}
#words{
    font-family:"sans-serif";
    width:500px;
    font-size:24px;
    color:#666
}
#messages{
    display:none
}
#elapseClock .digit{
    font-family:"digit";
    font-size:40px
}
#loveu .signature{
    font-size:20px;
    font-style:italic
}
#clickSound{
    display:none
}
#code{
    float:left;
    width:350px;
    color:#333;
    font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
    font-size:16px;
    font-weight:bolder;
}
#code .string{
    color:#2a36ff
}
#code .keyword{
    color:#7f0055;
    font-weight:bold
}
#code .placeholder{
    margin-left:15px
}
#code .space{
    margin-left:7px
}
#code .comments{
    color:#3f7f5f
}
#copyright{
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#666
}
#errorMsg{
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    left:0
}
#copyright a{
    color:#666
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn2{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px; 
    background: none;
    color: black;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;

}
